/* * {
  border: 1px solid black;
} */

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.calculator {
  width: 30rem;
  height: 34rem;
  display: flex;
  justify-content: center;
  align-items: stretch;
  border-radius: 1rem;
  margin: 1rem;
  background-image: linear-gradient(
    to right,
    #bf953f,
    #fcf6ba,
    #b38728,
    #fbf5b7,
    #aa771c
  );
  box-shadow: 10px 10px 21px -1px rgba(0, 0, 0, 0.47);
  -webkit-box-shadow: 10px 10px 21px -1px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 10px 10px 21px -1px rgba(0, 0, 0, 0.47);
}

.contents {
  flex: 1;
  display: flex;
  margin: 2rem;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 26rem;
}

.screen {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 1rem;
  border: 0.5px solid black;
  background-color: white;
  overflow: hidden;
}

.display {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 5.45rem;
  font-family: "Roboto", sans-serif;
  padding: 0 1rem 0 0;
  height: 7.5rem;
  white-space: nowrap;
}

.buttons {
  display: flex;
  flex: 2.5;
  gap: 1.25rem;
}

.left-buttons {
  flex: 4;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: space-between;
}

.left-buttons button {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #edfef5;
  border: 0.5px solid black;
}

.left-buttons .decimal {
  padding-bottom: 1rem;
}

.left-buttons .operator {
  background-color: #d4fde8;
}

.left-buttons .sign {
  background-color: #edfef5;
}

.right-buttons {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.right-buttons button {
  flex: 1;
  width: 5.25rem;
  height: 5.25rem;
  border-radius: 1rem;
  font-size: 1.5rem;
  padding: 0;
  border: 0.5px solid black;
}

.right-buttons .equal {
  background-color: #b0fcd6;
}

.right-buttons .undo {
  background-color: #edfef5;
}

.right-buttons .clear {
  background-color: #fec7c1;
}
